@*
 * Copyright 2022 HM Revenue & Customs
 *
 *@

@import uk.gov.hmrc.emcstfefrontend.models.response.EmcsTfeResponse
@import uk.gov.hmrc.emcstfefrontend.models.response.ReferenceDataResponse

@this(
        layout: Layout
)

@(
        referenceDataResponse: ReferenceDataResponse,
        emcsTfeResponse: EmcsTfeResponse
)(implicit request: Request[_], messages: Messages)

@layout(pageTitle = Some("EMCS Homepage")) {
    <h1 class="govuk-heading-xl">emcs-tfe-frontend</h1>
    <h2 class="govuk-heading-l">Reference Data response</h2>
    <p class="govuk-body">@{
        referenceDataResponse.message
    }</p>
    <h2 class="govuk-heading-l">EMCS TFE response</h2>
    <p class="govuk-body">@{
        emcsTfeResponse.message
    }</p>
}

@{
    //$COVERAGE-OFF$
}
