@*
 * Copyright 2022 HM Revenue & Customs
 *
 *@

@import uk.gov.hmrc.emcstfefrontend.models.response.ReferenceDataResponse
@import uk.gov.hmrc.emcstfefrontend.views.html.components._
@import uk.gov.hmrc.govukfrontend.views.html.components.FormWithCSRF

@this(
        layout: Layout,
        continueButton: ContinueButton,
        saveAndReturnButton: SaveAndReturnButton,
)

@(referenceDataResponse: ReferenceDataResponse)(implicit request: Request[_], messages: Messages)

@layout(pageTitle = Some(messages("transportMode.heading"))) {
    <h1 class="govuk-heading-xl">@messages("transportMode.heading")</h1>
    <h2 class="govuk-heading-l">Reference Data response</h2>
    <p class="govuk-body">@{
        referenceDataResponse.message
    }
    </p>

@continueButton("base.saveAndContinue",Some(uk.gov.hmrc.emcstfefrontend.controllers.routes.ModeOfTransportController.onSubmit.url))
@saveAndReturnButton()

}

@{
    //$COVERAGE-OFF$
}
