$govuk-assets-path: "/emcs/account/assets/lib/govuk-frontend/govuk/assets/";
$hmrc-assets-path: "/emcs/account/assets/lib/hmrc-frontend/hmrc/assets/";

@import "lib/govuk-frontend/govuk/base";
@import "active-trader-info";
@import "primary-navigation";
@import "sub-navigation";

.white-space-nowrap {
  white-space: nowrap;
}