@*
 * Copyright 2023 HM Revenue & Customs
 *
 *@

@import uk.gov.hmrc.govukfrontend.views.html.components._

@this(govukRadios: GovukRadios)

@(legend: String, items: Seq[(String, String)])()

@govukRadios(Radios(
    fieldset = Some(Fieldset(
        legend = Some(Legend(
            content = Text(legend),
            classes = "govuk-fieldset__legend--l",
            isPageHeading = true
        ))
    )),
    idPrefix = Some("mode-of-transport"),
    name = "mode-of-transport",
    items = items map { case (value: String, label: String) =>
        RadioItem(
            content = Text(label),
            value = Some(value)
        )
    })
)

@{
//$COVERAGE-OFF$
}
