@*
 * Copyright 2022 HM Revenue & Customs
 *
 *@

@import uk.gov.hmrc.govukfrontend.views.html.components.GovukRadios
@import uk.gov.hmrc.govukfrontend.views.Aliases.RadioItem
@import uk.gov.hmrc.govukfrontend.views.viewmodels.fieldset.Legend
@import uk.gov.hmrc.govukfrontend.views.Aliases.Text
@import uk.gov.hmrc.govukfrontend.views.Aliases.Radios
@import uk.gov.hmrc.govukfrontend.views.Aliases.Fieldset
@import uk.gov.hmrc.govukfrontend.views.Aliases.Hint
@import uk.gov.hmrc.govukfrontend.views.Aliases.HtmlContent
@import uk.gov.hmrc.govukfrontend.views.Aliases.ErrorMessage

@this(govukRadios: GovukRadios)

@(form: Form[_],
        legend: String,
        items: Seq[RadioItem],
        legendAsHeading: Boolean = true,
        hint: Option[Html] = None,
        classes: String = "govuk-fieldset__legend--xl",
        inline: Boolean = false,
        subHeading: Option[String] = None,
        fieldName: String = "value"
)(implicit messages: Messages)

@legendBlock = @{
    if(subHeading.isDefined) {
        Legend(
            classes = classes,
            isPageHeading = legendAsHeading
        )
    } else {
        Legend(
            content = Text(messages(legend)),
            isPageHeading = legendAsHeading,
            classes = classes
        )
    }
}

@govukRadios(Radios(
    classes = if(inline) {"govuk-radios--inline"} else "",
    name = fieldName,
    fieldset = Some(Fieldset(legend = Some(legendBlock))),
    hint = hint.map { hint => Hint(content = HtmlContent(hint)) },
    items = items,
    errorMessage = form(fieldName).error.map(err => ErrorMessage(content = Text(messages(err.message, err.args: _*))))
))
